@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> 
</div>

<footer>
  <div class="footer">
    <div class="text-center text-muted">
      CSE325 Team 2 - &copy; Reading Tree @DateTime.UtcNow.Year || Created By:
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Wylee Everett</a></li>
        <li><a href="#">Haroldo Gonzalez</a></li>
        <li><a href="#">Sam Gordon</a></li>
        <li><a href="#">Kevin Morales</a></li>
        <li><a href="#">Omar Navarro</a></li>
        <li><a href="#">Hernan Yupanqui</a></li>
      </ul>
    </div>

    
  </div>
</footer>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
