<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="readingTree.png" alt=""> Reading Tree</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi fa fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addBook">
                <span class="bi fa fa-user" aria-hidden="true"></span> Add Book
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookList">
                <span class="bi fa fa-book" aria-hidden="true"></span> Books List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/wishlist">
                <span class="bi fa fa-heart" aria-hidden="true"></span> Wish List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bookLog">
                <span class="bi fa fa-history" aria-hidden="true"></span> Book Log
            </NavLink>
        </div>
    </nav>
</div>

