<div class="overlay">
    <div class="dialog">
        <div class="dialog-header">
                <div> </div>

                <div>
                    <div class="close">
                        <i class="bi bi-x-lg"> </i>
                    </div>
                </div>
        </div>

        <div class="dialog-body">

        </div>

        <div class="dialog-footer">

        </div>
    </div>
</div>