@page "/books"

@using System.Collections.Generic
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Books</PageTitle>


<h1>Books</h1>
<img src="ReadingTree.png" alt="Reading Tree Image" />
<br>
Welcome to your new app.
