@page "/"

<PageTitle>Reading Tree</PageTitle>

<div class="home-background-image">
  <div style="background: none;" class="suggestion-card">
    <img style="height: 4em;" src="readingtree.png" alt="">
    <h1>Reading Tree</h1>
  </div>
  <br>
  <div class="suggestion-card">
    <h2>Stay motivated and reach your reading goals by keeping track on Reading Tree</h2>
    <p>Reading Tree is the perfect app for tracking your reading progress, reaching your goals, 
      and maintaining an organized catalog of all your read books! It can help you with personalized 
      stats during reading sessions in real-time, keeping you motivated and helping improve your reading habits</p>
  </div>
  <br>

</div>